In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [66]:
df_r = pd.read_csv('../python_2023_2/regional_emissions.csv')
df_s = pd.read_csv('../python_2023_2/sector_emissions.csv')

df_r = df_r.set_index('Region')
df_s = df_s.set_index('Year')

In [67]:
df_r.head()

                          Shortnam  1990  2005  2021
Region
Newfoundland and Labrador       NL   9.4  10.2   8.3
Prince Edward Island           PEI   1.8   1.9   1.6
Nova Scotia                     NS  19.3  22.8  14.6
New Brunswick                   NB  16.1  19.6  11.9
Quebec                          QC  84.3  85.5  77.5

In [68]:
df_s.head()

,Oil and gas,Transport,Buildings,Electricity,Heavy industry,Agriculture,Waste and others
Year,,,,,,,
1990,100.5,118.4,72.1,94.7,98.8,49.4,54.7
1991,100.0,113.8,71.4,96.1,98.6,49.5,52.6
1992,108.6,115.9,73.3,102.5,96.0,51.6,51.3
1993,115.4,118.8,76.9,93.2,95.2,52.8,49.5
1994,119.2,124.9,77.2,95.2,100.7,54.5,50.2

In [69]:
print(df_r.columns)
print(df_r.index)

Index(['Shortnam', '1990', '2005', '2021'], dtype='object')
Index(['Newfoundland and Labrador', 'Prince Edward Island', 'Nova Scotia',
       'New Brunswick', 'Quebec', 'Ontario', 'Manitoba', 'Saskatchewan',
       'Alberta', 'British Columbia', 'Yukon', 'Northwest Territories',
       'Nunavut'],
      dtype='object', name='Region')

In [70]:
df_s.loc['Total Sector Emissions'] = df_s.sum(axis=0)
df_s.tail()

,Oil and gas,Transport,Buildings,Electricity,Heavy industry,Agriculture,Waste and others
Year,,,,,,,
2018,202.5,169.3,92.4,62.7,79.6,68.5,49.6
2019,201.3,170.2,93.3,61.6,78.8,69.0,49.6
2020,183.4,143.2,89.1,53.7,73.6,69.8,46.1
2021,189.2,150.1,87.2,51.7,76.8,68.5,47.0
Total Sector Emissions,5214.0,4745.3,2657.3,3085.3,2830.3,1948.7,1598.8

In [71]:
df_s.iloc[:-1].idxmax()

Oil and gas         2015
Transport           2019
Buildings           2019
Electricity         2001
Heavy industry      1996
Agriculture         2020
Waste and others    1990
dtype: object

In [72]:
df_s['Total Year Emissions'] = df_s.sum(axis=1)

In [73]:
df_s_post_2010 = df_s.iloc[:-1]
df_s_post_2010 = df_s_post_2010.loc[df_s_post_2010.index >= 2010]

In [76]:
result = df_s.lt(df_s.loc[1990])